.all-nft {
	&__swiper {
		margin: 0;
		grid-area: 2 / 1 / 3 / 3;
		&-slide {
			@include grid(0, end);
		}
		&-wrapper {
			display: grid;
			grid-template-columns: 370px 1fr;
			grid-gap: 30px;
			margin-left: auto;
			max-width: calc(100% - ((100% - 1170px) / 2));
		}
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1230px) {
	.all-nft {
		&__swiper {
			&-wrapper {
				max-width: calc(100% - ((100% - 930px) / 2));
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.all-nft {
		&__swiper {
			&-wrapper {
				max-width: calc(100% - ((100% - 690px) / 2));
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.all-nft {
		&__title {
			margin-bottom: 30px;
		}
		&__swiper {
			grid-area: 2 / 1 / 3 / 2;
			&-wrapper {
				grid-template-columns: 100%;
				max-width: 510px;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.all-nft {
		&__swiper {
			&-wrapper {
				max-width: 515px;
				margin: 0 15px;
			}
		}
	}
}
